<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css')}}">
    <title>Profile</title>
</head>
<body>


    <div class="mx-auto" id="profilePageText">

                        <!--Flask only brackets-->
                        <h2>User screen_name: {{user.get_screen_name()}}</h2>

    </div>

    <div class="mx-auto" id="profilePageForm">


                <form action="{{ url_for('search')}}" class="form-inline">
                  <label class="sr-only" for="query">Name</label>
                  <input type="text" class="form-control mb-2 mr-sm-2"
                         id="query" name="q" placeholder="Search....">

                  <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </form>

    </div>


</body>
</html>